name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "**/*.md"
      - "LICENSE*"
      - ".github/workflows/precompile.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25.3
          elixir-version: 1.14

      - name: Compile
        run: |
          mix deps.get
          mix compile

  windows:
    runs-on: windows-2022
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v5

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25
          elixir-version: 1.14

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Compile
        shell: bash
        run: |
          mix deps.get
          mix compile

  macos:
    runs-on: macos-13
    env:
      MIX_ENV: test
      OTP_VERSION: "26.2.1"
      ELIXIR_VERSION: "1.16.0"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install OTP and Elixir
        run: |
          curl -fsSO https://elixir-lang.org/install.sh
          sh install.sh "elixir@${ELIXIR_VERSION}" "otp@${OTP_VERSION}"

      - name: Compile and Test
        run: |
          export OTP_MAIN_VER="${OTP_VERSION%%.*}"
          export PATH=$HOME/.elixir-install/installs/otp/${OTP_VERSION}/bin:$PATH
          export PATH=$HOME/.elixir-install/installs/elixir/${ELIXIR_VERSION}-otp-${OTP_MAIN_VER}/bin:$PATH

          mix local.hex --force
          mix local.rebar --force

          mix deps.get
          mix compile
